body{background-color: #FFF8C9;}
p{color: #005B41;}
a{color: #BEADFA;}
h1{color: #0F0F0F;}
a:hover {color: #12486B;}
nav{
    background-color:#E9B824;
    padding: 10px;
    margin-bottom: 30 px;
}
nav a{color:#005B41;}
nav a:hover{background-color: #176B87;}
